{% extends "blog/base.html" %}


{% block title %}JR Blogs{% endblock %}

{% block content %}
  <h1>ABDRA'S BLOG</h1>
  {% for post in posts %}


  <li>
    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
   
    </h2>
    <p class="date">

      Published {{ post.publish }} by {{ post.author }}
      
      </p>
    <div style="color: white;">
      {{ post.body|truncatewords:100|linebreaks }}
  </div>
  
  </li>
  {% endfor %}
  {% include "pagination.html" with page=posts %} 
 {% endblock %}